<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trove - Recuperar a palavra-passe</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<main style="display: flex; flex-direction: column; gap: 40px; justify-content: center; height: 100vh; align-items: center;">

    <div style="text-align: center; border-bottom: 1px solid #ccc; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); padding: 20px;">
        <h1>Trove</h1>
        <h4>Recuperar a palavra-passe</h4>
    </div>

    <div>

        <p th:text="'Olá ' + ${username} + ','">Olá Diogo,</p>
        <br>
        <p>Parece que esqueceu-se da sua palavra-passe.</p>
        <p>Nos recebemos o seu pedido para alterar a palavra-passe.</p>
        <br>
        <p>Para proceder, clique no botão abaixo.</p>
        <br>
        <a style="text-decoration: none; color: white; background-color: #343a40; padding: 10px 20px; border-radius: 10px;" href="/" th:href="${url}">Recuperar a palavra-passe</a>
        <br>
        <br>

    </div>

</main>

</body>
</html>