<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Trove - Sign In</title>
</head>
<body>

<div class="flex flex-row items-center gap-2 fixed right-10 top-10 bg-(--error) px-5 py-5 rounded-md text-(--primary) opacity-0" id="popup">
    <i class='bx bxs-error'></i>
    <span id="content">An unexpected error occurred.</span>
</div>

<main class="flex flex-col items-center justify-center min-w-screen min-h-screen bg-(--background) text-(--primary)">

    <form id="form" method="POST" action="/auth/login" class="flex flex-col gap-10 bg-(--foreground) pt-10 pb-5 pr-20 pl-20 rounded-md">

        <div class="flex flex-col items-center">
            <h3 class="text-2xl font-bold uppercase">Sign In</h3>
            <p>Don't have an account? Click <a class="text-(--secondary)" href="/auth/register" th:href="@{/auth/register}">here</a>.</p>
            <p>Forgot your password? Click <a class="text-(--secondary)" href="/auth/forgot" th:href="@{/auth/forgot}">here</a>.</p>
        </div>

        <div class="flex flex-col gap-2">

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <label for="username"></label>
            <input class="outline-none bg-(--background) border border-(--background) px-5 py-2 rounded-md transition duration-500 focus:border focus:border-(--secondary)" type="text" name="username" id="username" placeholder="Username" required>

            <label for="password"></label>
            <input class="outline-none bg-(--background) border border-(--background) px-5 py-2 rounded-md transition duration-500 focus:border focus:border-(--secondary)" type="password" name="password" id="password" placeholder="Password" required>

        </div>

        <button class="bg-(--secondary) px-5 py-2 rounded-md duration-500 hover:opacity-75 cursor-pointer" type="submit">Continue</button>

        <p class="flex items-center text-center opacity-50 after:content[' '] after:flex-1 after:border-b-1 after:mx-2 before:content[''] before:flex-1 before:border-b-1 before:mx-2"><span>or</span></p>

        <div class="flex flex-col items-center gap-5">

            <a class="flex flex-row items-center gap-3 bg-(--background) px-5 py-2 rounded-md duration-500 hover:opacity-75" href="/auth/google" th:href="@{/auth/google}">
                <img class="w-8" src="../static/img/google.svg" th:src="@{/img/google.svg}" alt="Google Log In">
                <span>Continue with Google</span>
            </a>

            <a class="flex flex-row items-center gap-3 bg-(--background) px-5 py-2 rounded-md duration-500 hover:opacity-75" href="/auth/discord" th:href="@{/auth/discord}">
                <img class="w-8" src="../static/img/discord.svg" th:src="@{/img/discord.svg}" alt="Discord Log In">
                <span>Continue with Discord</span>
            </a>

        </div>

    </form>

</main>

<script th:src="@{/scripts/login.js}"></script>
</body>
</html>
