<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Trove - Reset Password</title>
</head>
<body>

<div class="flex flex-row items-center gap-2 fixed right-10 top-10 bg-(--error) px-5 py-5 rounded-md text-(--primary) opacity-0" id="popup">
    <i class='bx bxs-error'></i>
    <span id="content">An unexpected error occurred.</span>
</div>

<main class="flex flex-col items-center justify-center min-w-screen min-h-screen bg-(--background) text-(--primary)">

    <form id="form" method="POST" action="/auth/reset" th:object="${dto}" class="flex flex-col gap-10 bg-(--foreground) pt-10 pb-5 pr-20 pl-20 rounded-md">

        <div class="flex flex-col items-center">
            <h3 class="text-2xl font-bold uppercase">Reset Password</h3>
        </div>

        <div class="flex flex-col gap-2">

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" th:name="token" th:field="*{token}" />

            <label for="password"></label>
            <input class="outline-none bg-(--background) border border-(--background) px-5 py-2 rounded-md transition duration-500 focus:border focus:border-(--secondary)" type="password" name="password" id="password" placeholder="Password" th:field="*{password}" required>

        </div>

        <button class="bg-(--secondary) px-5 py-2 rounded-md duration-500 hover:opacity-75 cursor-pointer" type="submit">Continue</button>

    </form>

</main>

<script th:src="@{/scripts/forgot.js}"></script>
</body>
</html>
