@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --background: #222831;
    --foreground: #31363F;
    --primary: #EEEEEE;
    --secondary: #76ABAE;
    --error: #a83232;
    --success: #12a345;

}

.roboto-normal {

    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

}

* {

    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 16px;

}

html, body {

    background-color: var(--background);
    color: var(--primary);

}

#popup {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: fixed;
    right: 30px;
    top: 30px;
    background-color: var(--error);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--primary);
    opacity: 0;
    z-index: 999;

}

@keyframes enter {

    from {
        right: -200%;
        opacity: 0;
    }

    to {
        right: 30px;
        opacity: 1;
    }

}

@keyframes exit {

    from {
        right: 30px;
        opacity: 1;
    }

    to {
        right: -200%;
        opacity: 0;
    }

}

.error span {
    font-size: 18px;
}

main {

    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main form {

    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--foreground);
    padding: 60px 30px 10px 30px;
    border-radius: 5px;
    min-width: 20%;

}

main form .header {

    display: flex;
    flex-direction: column;
    align-items: center;

}

main form .header h3 {

    font-size: 24px;
    text-transform: uppercase;

}

main form .header p {

    font-size: 16px;

}

main form .header a {

    color: var(--secondary);
    transition: 0.5s;

}

main form .header a:hover {

    opacity: 0.7;

}

main form div {

    display: flex;
    flex-direction: column;
    gap: 5px;

}

main form input {

    font-family: inherit;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--background);
    border: 1px solid var(--background);
    color: inherit;
    transition: 0.5s;

}

main form input:focus {

    border: 1px solid var(--secondary);

}

main form button {

    padding: 5px 0;
    border-radius: 5px;
    background-color: var(--secondary);
    color: inherit;
    transition: 0.5s;

}

main form button:hover {

    cursor: pointer;
    opacity: 0.7;

}

.separator {

    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0.5;

}

.separator::before,
.separator::after {

    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;

}

.social-accounts {

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.social-account {

    background-color: var(--background);
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}

.social-account:hover {

    cursor: pointer;
    opacity: 0.7;

}

.social-account img {

    width: 30px;

}